<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-7">
        <div class="footer-copyright">
          <p>© Snake Charmer Tattoo All Rights Reserved.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-5">
        <ul class="social-icon">
          <li><a href="https://instagram.com/snakecharmertattoo" class="fa fa-instagram"></a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
</div>
{{ partial "scripts" . }}
</body>
</html>
