{{ partial "head" . }}
<div class="page{{ if .Params.bodyclass }} {{ .Params.bodyclass }}{{ end }}">
<header id="header" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon icon-bar"></span>
      <span class="icon icon-bar"></span>
      <span class="icon icon-bar"></span>
      </button>

      <a href="/" class="navbar-brand">
        <img class="logo" src="/img/global/logo.svg" alt="DUSK Digital"/>
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/work">Work</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/people">People</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
