{{ $.Scratch.Set "activeNotifications" 0 }}

{{ range (where .Site.Pages "Section" "notifications").ByDate }}
  {{ if .Params.active }}
    {{ $.Scratch.Set "activeNotifications" 1 }}
  {{ end }}
{{ end }}

{{ if gt ($.Scratch.Get "activeNotifications") 0 }}
  <div class="notification">
    <div class="contained">
      {{ range (where .Site.Pages "Section" "notifications").ByDate.Reverse }}
        {{ if .Params.active }}
          <div>{{ .Params.notification | markdownify }}</div>
        {{ end }}
      {{ end }}
      <span class="close-notification">×</span>
    </div>
  </div>
{{ end }}
