<section id="parallax-carousel" class="parallax-carousel">
  <div class="carousel-controls">
    <button id="parallax-prev" class="parallax-prev parallax-btn">&lsaquo;</button>
    <button id="parallax-next" class="parallax-next parallax-btn">&rsaquo;</button>
  </div>
  <div class="parallaxing-hero carousel">
    {{ range .carousel }}
      <div class="slide" data-slide="{{ .headline | urlize }}">
        <div class="contained">
          <div class="slide-copy">
            <h1>{{ .headline | markdownify }}</h1>
            <p>{{ .subhead | markdownify }}</p>
            {{ range .btns }}
              {{ partial "btn" . }}
            {{ end }}
          </div>
          <div class="parallax">
            <div class="layer" data-depth="0.9">
              <img src="{{ .backgroundimg }}" class="responsive background" />
            </div>
            <div class="layer" data-depth="0.6">
              <img src="/img/landing/middleground.svg" class="responsive middleground" />
            </div>
            <div class="layer" data-depth="0.3">
              <img src="{{ .portraitimg }}" class="foreground" />
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  <div class="carousel-pagination for-parallax">
    <div class="contained">
      {{ range $index, $id := .carousel }}
        <div class="parallax-portrait-nav" data-slide="{{ .headline | urlize }}">
          <img src="{{ .portraitimg }}" class="thumbnail" />
          <h4>{{ .slide | markdownify }}</h4>
        </div>
      {{ end }}
    </div>
  </div>
</section>