<div class="program-calculator">
  <p class="question">How many hours a week are you available to complete coursework?</p>
  <div class="slider">
    <div id="amount_slider"></div>
  </div>
  <div class="units">
    <div class="starting">6<br>hours</div>
    <div class="current"><span id="amountDisp">10</span> hours</div>
    <div class="ending">20<br>hours</div>
  </div>
  <p class="recommendation">Based on your availability, we recommend our <strong id="result">2-year Program</strong></p>
</div>