<section class="section-intro">
  <div class="contained">
    {{ range .nav }}
      <div class="section-row">
        <a class="section-link for-{{ .section | urlize }}" href="{{ .linkto }}">
          <h4 class="leading section-label caps">{{ .hook }}</h4>
          <h1 class="megatext">{{ .section }}<span>.</span></h1>
          <p class="description">{{ .description }}</p>
        </a>
        <aside>
          <h4 class="leading section-label caps">{{ .sidehook }}</h4>
          {{ if .sideimgpath }}
            <img src="{{ .sideimgpath }}.{{ .sideimgtype }}" srcset="{{ .sideimgpath }}.{{ .sideimgtype }} 1x, {{ .sideimgpath }}@2x.{{ .sideimgtype }} 2x" class="responsive" />
          {{ else if .animatednumbers }}
            <table id="animated-numbers" class="animated-numbers">
              {{ range .animatednumbers }}
                <tr class="animated-number">
                  {{ if .cash }}
                    <td class="dollar-sign">$</td>
                  {{ else }}
                    <td> </td>
                  {{ end }}
                  <td class="{{ if .cash }}cash {{ end }}{{ if .customclass }}{{ .customclass }} {{ end }}ticker">{{ .number }}</td>
                  <td class="label">{{ .label | markdownify }}</td>
                </tr>
              {{ end }}
            </table>
          {{ else if .programcalculator }}
            {{ partial "program-calculator" }}
          {{ end }}
        <aside>
      </div>
    {{ end }}
  </div>
</section>