<aside class='sidebar{{ if eq .Params.sidebar "No Sidebar"}} hidden{{ end }}'>
  {{ if .Params.primaryCTA }}
    <a href="{{ .Params.primaryCTApath }}" class='btn-primary'>{{ .Params.primaryCTA | markdownify }}</a>
  {{ end }}

  {{ if eq .Params.sidebar "Sidebar w/ Videos"}}
    {{ range .Site.Data.sidebar.sidebarvideos }}
      {{ .video | markdownify }}
    {{ end }}
  {{ end }}

  {{ if .Params.sidebarlinks }}
    <div class="sidebar-links">
      {{ range .Params.sidebarlinks }}
        {{ range $index, $id := . }}
          {{ if eq $index 0 }}
            {{ $.Scratch.Set "linkTitle" . }}
          {{ else }}
            {{ $.Scratch.Set "linkUrl" . }}
          {{ end }}
        {{ end }}
        <a class="btn-secondary sidebar-link {{ $.Scratch.Get "linkTitle" | urlize }}-link" href="{{ $.Scratch.Get "linkUrl" }}">{{ $.Scratch.Get "linkTitle" }}</a>
      {{ end }}
    </div>
  {{ end }}

  {{ partial "testimonials" . }}
</aside>