#bottom-cta {
  padding: 120px 0;
}

#bottom-cta a {
  border-bottom: 4px solid $pink;
  display: inline-block;
  color: $pink;
  transition: padding .2 ease;

  &:hover {
    color: $pink;
    text-decoration: none;
    padding: 0 $tiny;
  }
}
