.section-btn {
  margin: 32px 0 0 0;
  padding: 0;

  a,
  button {
    line-height: $medium;
    perspective: 1000px;
    color: white;
    font-weight: normal;
  }

  a span,
  button span {
    position: relative;
    display: inline-block;
    font-weight: $black;
    padding: 0 25px;
    background: $pink;
    border-radius: 1px;
    transition: transform 0.3s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
  }
}

.csstransforms3d .section-btn {
  a span::before,
  button span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 1px;
    color: white;
    padding: 0 25px;
    content: attr(data-hover);
    transition: background 0.3s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
  }
}

.section-btn {
  a {
    &:hover span,
    &:focus span {
      transform: rotateX(90deg) translateY(-22px);
    }
  }
  button {
    &:hover span,
    &:focus span {
      transform: rotateX(90deg) translateY(-22px);
    }
  }
}

.csstransforms3d .section-btn {
  a {
    &:hover span::before,
    &:focus span::before {
      background: black;
    }
  }
  button:hover span::before {
    background: black;
  }
}
