#client .container {
  background: #f9f9f9;
  padding: 102px 82px;
  min-height: 400px;

  @media (max-width: 767px) {
    padding: $medium $medium $large $medium;
    min-height: 0;
  }

  .client-logo {
    height: $medium;
  }
}
