footer {
  background: $grey;
  padding: 20px 0 20px 0;
}

.footer-copyright {
  text-align: left;

  p {
    color: lighten($grey, 50%);
    font-size: 14px;
    padding-top: 6px;
  }

  span {
    display: inline-block;
    padding: 0 4px 0 4px;
  }
}

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: right;

  li {
    display: inline-block;
    list-style: none;

    a {
      background: lighten($grey, 10%);
      border-radius: 100%;
      color: white;
      cursor: pointer;
      font-size: $tiny;
      text-decoration: none;
      transition: background ease 0.2s, transform ease 0.2s;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      vertical-align: middle;
      position: relative;
      margin: 4px 4px 0 4px;

      &:hover {
        background: $pink;
        transform: scale(1.1);
      }
    }
  }
}
