@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#header {
  .navbar-header {
    position: relative;

    @media (max-width: 767px) {
      padding: $micro;
    }
  }

  .navbar-brand {
    &:before {
      background: url('/img/global/logo-shine.svg') no-repeat center;
      content: '';
      height: $medium;
      width: $medium;
      position: absolute;
      top: 3px;
      left: -8px;
      z-index: -1;

      @media (max-width: 767px) {
        left: 12px;
        top: 8px;
      }
    }

    &:hover:before {
      animation: rotate 5s infinite linear;
    }
  }

  .logo {
    height: $large;
    margin-top: calc(($large - $medium) / -2);

  }
}

.navbar-default {
  border: none;
  margin-bottom: 0;
  background-color: white;
  padding-top: 45px;

  .navbar-nav li {
    a {
      background-image: linear-gradient(to bottom, white 95%, $pink 96%, $pink 100%);
      background-position: 0 4px;
      background-repeat: no-repeat;
      font-size: $tiny;
      color: $grey;
      line-height: $medium;
      padding-right: 22px;
      padding-left: 22px;
      transition: background-position linear 0.2s;
      font-weight: $bold;
      position: relative;

      &:hover {
        background-position: 0;
      }
    }

    &.active > a {
      background-color: transparent;
      color: $pink;
    }
  }

  .navbar-toggle {
    border: none;
    padding-top: 10px;
    background-color: transparent;

    .icon-bar {
      background: $pink;
      border-color: transparent;
    }
  }
}
