{{ partial "header" . }}
<section class="headline">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <h2>Every day we help our clients climb higher. Here are a few we have helped along the way.</h2>
      </div>
    </div>
  </div>
</section>

<section id="project">
  <div class="container">
    <div class="row">
      {{ range $index, $id :=   (.Paginate .Data.Pages.ByPublishDate.Reverse ).Pages }}
        <div class="col-md-4 col-sm-6">
          <div class="project-item">
            <a href="{{ .Permalink }}">
              <img src="{{ .Params.featuredImageFile }}" class="img-responsive" alt="">
            </a>
          </div>
          <div class="project-overlay">
            <!-- {{ range .Params.roles }}
              <h4 class="tag">{{ . | markdownify }}</h4>
            {{ end }} -->
            <h3>{{ .Params.client }}</h3>
            <p>{{ .Params.description | markdownify }}</p>
          </div>
        </div>
        {{ if eq $index 2 }}
          </div>
          <div class="row">
        {{ end }}
      {{ end }}
  </div>
</section>
{{ partial "bottom-cta" . }}
{{ partial "footer" . }}
