@import "imports/project.css";

#landing {
  .page {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 25%, white 60%);
  }

  .hero  {
    height: 85vh;
    position: relative;
    padding-top: 235px;

    @media (max-width: 767px) {
      padding-top: 200px;
    }


    @media (max-height: 767px) {
      padding-top: 100px;
    }

    h1 {
      @media (max-width: 767px) {
        font-size: $small;
        line-height: 30px;
      }

      span:first-child {
        display: block;
      }
    }

    #rotating-text.clip {
      #verbs {
        display: inline-block;
        padding: .2em 0;
        overflow: hidden;
        vertical-align: top;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 2px;
          height: 80%;
          background-color: $lightestGrey;
        }

        b {
          opacity: 0;

          &.is-visible {
            opacity: 1;
          }
        }
      }
    }

    #verbs {
      display: inline-block;
      position: relative;
      text-align: left;

      b {
        display: inline-block;
        font-family: "leitura_newsroman", Georgia, Cambria, "Times New Roman", Times, serif;
        position: absolute;
        white-space: nowrap;
        left: 0;
        top: 0;
        font-weight: normal;

        &.is-visible {
          position: relative;
        }
      }
    }
  }

  &.no-js #verbs b {
    opacity: 0;

    &.is-visible {
      opacity: 1;
    }
  }

  #sun {
    display: flex;
    flex-direction: row-reverse;

    .circle {
      background: $lightestGrey;
      border-radius: 50%;
      height: $xxl;
      margin: 0;
      position: fixed;
      width: $xxl;
      z-index: -1;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}

