@import "imports/typography.css";
@import "imports/base.css";
@import "imports/utilities.css";
@import "imports/buttons.css";
@import "imports/header.css";
@import "imports/search.css";
@import "imports/bottom-cta.css";
@import "imports/footer.css";

// responsive styles

@media (max-width: 980px) {

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 27px;
  }

  #home {
    height: 50vh;
  }

  .about-info {
    padding-top: 22px;
  }

  .project-detail-text {
    padding: 42px 12px;
  }

  #team .col-md-3:first-child,
  #team .col-md-3:nth-of-type(2n+2) {
    margin-bottom: 42px;
  }

  .contact-address {
    padding-top: 0;
  }

  #client .container {
    padding: 82px 62px;
    min-height: 350px;
  }
}


@media (max-width: 768px) {
  .navbar-default {
    background-color: rgba(255,255,255,0.98);
    padding-top: $tiny;
  }

  .headline {
    padding: 0;
    margin: $large auto;
  }

  #project-detail {
    margin-top: $large;
  }

  #bottom-cta {
    padding: 0 0;
  }
}


@media (max-width: 767px) {

  .navbar-default {
    .nav li a {
      background: none;
      text-align: center;
      font-size: $medium;
      line-height: 50px;
      transition: color .2s ease;

      &:hover {
        color: $pink;
      }
    }

    .navbar-toggle {
      border-radius: 0;
      transition: background-color .2s ease;

      &:focus,
      &:active {
        background-color: white;
      }

      &:hover {
        background-color: $grey;

        span {
          background: white;
        }
      }

      span {
        transition: background-color .2s ease;
      }
    }
  }

  .navbar-collapse {
    border-top: 0;
    box-shadow: none;
    height: calc(100vh - 82px);
    padding-top: $large;
  }


  #home {
    height: 65vh;
  }

  #project-detail .col-md-6 img {
    margin-bottom: 42px;
  }

  #project-detail .col-md-4 .project-detail-info {
    padding-bottom: 22px;
  }

  #about .col-md-4:nth-of-type(2n+1) .about-service-text {
    padding-bottom: 0;
  }

  #about .col-md-4:nth-of-type(2n+2) .about-service-text {
    padding-top: 32px;
  }
}


@media (max-width: 650px) {

  h1 {
    font-size: 30px;
    line-height: $medium;
  }

  h2 {
    font-size: 25px;
    line-height: 35px;
  }

  p {
    font-size: 18px;
  }

  #home {
    padding-top: 165px;
    height: 90vh;
  }

  #client .container {
    padding: 42px 22px;
    min-height: inherit;
  }

  #bottom-cta {
    padding: 60px 0;
  }

}


@media (max-width: 365px) {

  p {
    font-size: $tiny;
  }

  #home {
    height: 125vh;
  }

  #project-detail-links {
    padding: 62px 0 82px;
    margin-top: 42px;
  }

}

