{{ partial "header" . }}
<section class="headline">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <h2>We’re so delighted to hear from you. Please drop us a line below.</h2>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">

        <form netlify netlify-honeypot="bot-field" name="new-contact-form" action="/thanks-for-reaching-out" id="contact-form" role="form">
          <input type="hidden" name="bot-field">
          <div class="col-md-4 col-sm-4 col-xs-12 name-input">
            <input type="text" class="form-control" id="cf-name" name="name" placeholder="Name">
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 email-input">
            <input type="email" class="form-control" id="cf-email" name="_replyto" placeholder="Email Address">
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 subject-input">
            <input type="text" class="form-control" id="cf-subject" name="subject" placeholder="Subject">
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 message-input">
            <textarea class="form-control" rows="4" id="cf-message" name="message" placeholder="Message"></textarea>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12 submit-input">
            <div class="section-btn">
              <button type="submit" class="form-control" id="cf-submit" name="submit"><span data-hover="Send Message">Send Message</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{{ partial "footer" . }}
