{{ partial "header" . }}

<section class="headline">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-8">
        <h2>We work as a creative collective to help you achieve your goals.</h2>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<section id="people">
  <div class="container">
    <div class="row">
      {{ range where .Site.RegularPages.ByWeight "Section" "people" }}
        <div class="col-md-3 col-sm-6">
          <div class="people-item">
            <img src="{{ .Params.photo }}" class="img-responsive" alt="{{ .Params.title }}">
            <div class="people-overlay">
              <ul class="social-icon">
                {{ range .Params.links }}
                  {{ if in . "twitter"}}
                    <li><a href="{{ . }}" class="fa fa-twitter"></a></li>
                  {{ else if in . "dribbble" }}
                    <li><a href="{{ . }}" class="fa fa-dribbble"></a></li>
                  {{ else if in . "instagram" }}
                    <li><a href="{{ . }}" class="fa fa-instagram"></a></li>
                  {{ else if in . "mail" }}
                    <li><a href="{{ . }}" class="fa fa-envelope-o"></a></li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          </div>
          <p>{{ .Params.title }}</p>
          <h3>{{ .Params.position | markdownify }}</h3>
        </div>
      {{ end }}
    </div>
  </div>
</section>
{{ partial "bottom-cta" . }}
{{ partial "footer" . }}
