{{ partial "header" . }}

<section class="headline">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-8">
        <h2>We work as a creative collective to help you achieve your goals.</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-3 col-sm-4 hidden-xs">
        <div class="header-text">
          <h3>Simplicity<br>is the<br>ultimate<br>sophistication.</h3>
          <small>- Leonardo Da Vinci</small>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-8 col-sm-8 hidden-xs">
        <div class="header-text">
          <blockquote>
            <p>For over a decade, we’ve had the opportunity to work on a variety of projects, with startups and companies of all sizes. We use these years of experience in strategically crafting memorable experiences for our clients.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="people">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="people-item">
          <img src="/img/people/eli.jpg" class="img-responsive" alt="Eli">
          <div class="people-overlay">
            <ul class="social-icon">
              <li><a href="https://twitter.com/eliwilliamson" class="fa fa-twitter"></a></li>
              <li><a href="https://dribbble.com/eliwilliamson" class="fa fa-dribbble"></a></li>
              <li><a href="mailto:eliwilliamson@gmail.com" class="fa fa-envelope-o"></a></li>
            </ul>
          </div>
        </div>
        <p>Eli</p>
        <h3>Co-owner &amp;<br>Creative Developer</h3>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="people-item">
          <img src="/img/people/bre.jpg" class="img-responsive" alt="Breanna">
          <div class="people-overlay">
            <ul class="social-icon">
              <li><a href="https://www.instagram.com/breawilli/" class="fa fa-instagram"></a></li>
            </ul>
          </div>
        </div>
        <p>Breanna</p>
        <h3>Co-owner &amp;<br>Designer</h3>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="people-item">
          <img src="/img/people/ziggy.jpg" class="img-responsive" alt="Ziggy">
          <div class="people-overlay">
            <ul class="social-icon">
              <li><a href="https://www.instagram.com/ziggy.williamson/" class="fa fa-instagram"></a></li>
            </ul>
          </div>
        </div>
        <p>Ziggy</p>
        <h3>Designer &amp<br>Illustrator</h3>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="people-item">
          <img src="/img/people/oli.jpg" class="img-responsive" alt="Oli">
          <div class="people-overlay">
            <ul class="social-icon">
              <li><a href="mailto:info@justdusk.com" class="fa fa-envelope-o"></a></li>
            </ul>
          </div>
        </div>
        <p>Oli</p>
        <h3>CEO (Chief Enthusiasm Officer)</h3>
      </div>
    </div>
  </div>
</section>
{{ partial "bottom-cta" . }}
{{ partial "footer" . }}
